header
    //- h3 #[a(href="#") Felipe Da Costa-Personal Trainer]
    .logo
        a(href="#")
            img(src="../asset/image/logo.png", alt="logo")
        h4 FMC #[span Personal Training]
    nav
        li #[a.scroll(href="#about") About me]
        li #[a.scroll(href="#services") Services]
        li #[a.scroll(href="#packages") Packages]
        li #[a.scroll(href="#contacts") Contacts]
.mobile-header
    span.icon-ptmenu
    nav.menu-mobile
        li #[a.scroll(href="#about") About me]
        li #[a.scroll(href="#services") Services]
        li #[a.scroll(href="#packages") Packages]
        li #[a.scroll(href="#contacts") Contacts]
section.hero
    .background-slider
        li #[span]
        li #[span]
        li #[span]
        li #[span]
        li #[span]
    .hero-content-area
        h1 Felipe Da Costa
        h3 Bespoke Personal Training