header
    h3 #[a(href="#") Felipe Da Costa-Personal Trainer]
    nav
        li #[a(href="#about") About me]
        li #[a(href="#services") Services]
        li #[a(href="#packages") Packages]
        li #[a(href="#contacts") Contacts]
.mobile-header
    span.icon-ptmenu
    nav.menu-mobile
        li #[a(href="#about") About me]
        li #[a(href="#services") Services]
        li #[a(href="#packages") Packages]
        li #[a(href="#contacts") Contacts]
section.hero
    .background-slider
        li #[span]
        li #[span]
        li #[span]
        li #[span]
        li #[span]
    .hero-content-area
        h1 Felipe Da Costa
        h3 Bespoke Personal Training