header
    
    .logo
        img(src="../asset/image/logo.png", alt="logo")
        a(href="#")
            h4 FMC #[span Personal Training]
    nav.menu-links
        li #[a.scroll(href="#about") About me]
        li #[a.scroll(href="#services") Services]
        li #[a.scroll(href="#packages") Packages]
        li #[a.scroll(href="#contacts") Contacts]
.mobile-header
    img.icon-menu(src="../asset/image/logo.png", alt="")
    source
    nav.menu-mobile
        li #[a.scroll(href="#about") About me]
        li #[a.scroll(href="#services") Services]
        li #[a.scroll(href="#packages") Packages]
        li #[a.scroll(href="#contacts") Contacts]
section.hero
    .background-slider
        li #[span]
        li #[span]
        li #[span]
        li #[span]
        li #[span]
    .hero-content-area
        h1 F M C
        h3 Bespoke Personal Training