header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 5rem 0;
	position:absolute;
	width:100%;
	z-index:1;
	animation: 1s fadein 0.5s forwards;
    opacity: 0;
    background-color: rgba(88, 157, 158,0.2);
}

.mobile-header {
    display: none;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

.logo {
    display: flex;
    a {
        padding-top:2px;
        img {
            height: 1.4rem;
            display: inline-block;
        }
    }
}


nav {
	list-style: none;
    display: flex;
    padding-top: .5rem;
    padding-bottom: 1rem;
	flex-wrap:wrap;
    & li {
        margin: -0.2rem 1rem;
    }
}

.hero {
	min-height:100vh;
	position:relative;
    justify-content: center;
    & h1 {
        font: bold 4rem "Quicksand",sans-serif;
        margin-bottom: 1rem;
        color:cadetblue;
        text-shadow: 1px 2px #000;
    }
    & h3 {
        color: #f58426;;
        font-weight: bold
    }
    & .background-slider,
      .background-slider:after { 
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: 0px;
        z-index: 0; 
        list-style-type: none;
        overflow: hidden;
    }
    & .background-slider:after { 
        content: '';
        background: transparent repeat top left; 
    }
    & .background-slider li:nth-child(1) span { 
        background-image: url(../../asset/image/runner.jpg) 
    }
    & .background-slider li:nth-child(2) span { 
        background-image: url(../../asset/image/banner-3.jpg);
        animation-delay: 6s; 
    }
    & .background-slider li:nth-child(3) span { 
        background-image: url(../../asset/image/banner-1.jpg);
        animation-delay: 12s; 
    }
    & .background-slider li:nth-child(4) span { 
        background-image: url(../../asset/image/build.jpg);
        animation-delay: 18s; 
    }
    & .background-slider li:nth-child(5) span { 
        background-image: url(../../asset/image/banner-2.jpg);
        animation-delay: 24s; 
    }
    .background-slider li {
        overflow: hidden;
        
        & span { 
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
            color: transparent;
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: none;
            opacity: 0;
            z-index: 0;
            animation: imageAnimation 30s linear infinite 0s; 
            
        }
    }
}

.hero-content-area {
	text-align: center;
	padding-top: 10%; 
	position:relative;
	opacity:0;
	margin-top: 8rem;
	animation: 1s slidefade forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin:0;
	}
}

@keyframes imageAnimation { 
	0% {
	    opacity: 0;
	    animation-timing-function: ease-in;
	}
	8% {
	    opacity: 1;
	    transform: scale(1.05);
	    animation-timing-function: ease-out;
	}
	17% {
	    opacity: 1;
	    transform: scale(1.2);
	}
	25% {
	    opacity: 0;
	    transform: scale(1.2);
	}
	100% { opacity: 0 }
}


