header
    h3 #[a(href="#") Felipe Da Costa-Personal Trainer]
    nav
        li #[a(href="#") About me]
        li #[a(href="#") Services]
        li #[a(href="#") Packages]
        li #[a(href="#") Contacts]
section.hero
    .background-image
        figure
            img(src="asset/image/runner.jpg", alt="")
            img(src="asset/image/banner-3.jpg", alt="")
            img(src="asset/image/banner-1.jpg", alt="")
            img(src="asset/image/build.jpg", alt="")
            img(src="asset/image/banner-2.jpg", alt="")
    .hero-content-area
        h1 Felipe Da Costa
        h3 Bespoke Personal Training