.banner-1 {
	background-image: url(../../asset/image/banner-1.jpg);    
}

.bio {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    align-items: flex-start;
    &  p {
        margin-bottom:2rem;
        max-width: 800px;
        line-height: 2;
        flex-basis: 60%;
    }
    .fadeInLeft {
        animation: fadeInLeft 1s normal forwards;
        & img { 
            opacity:1 !important;
        }
    }
    .about-img {
        flex-basis: 30%; 
        padding:0.6rem 2rem 2rem 2rem;
        & img {   
            height: 32rem;
            width: auto;
            opacity: 0;  
        }
        
    }
    
}
.bio-text {
    flex-basis: 60%;
    opacity: 0;
}

.fadeInRight {
    animation: fadeInRight 1s normal forwards;
    opacity: 1 !important;
}

.videos {
    display:flex;
        iframe {
            padding: 2rem;
        }
}





@keyframes fadeInLeft {
 0% {
     opacity: 0;
     transform: translate(-100px,0)
 }
 100% {
     opacity: 1;
     transform: translate(0,0)
 }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate(100px,0)
    }
    100% {
        opacity: 1;
        transform: translate(0,0)
    }
   }
