.banner-4 {
	background-image: url(../../asset/image/steps.jpeg);
}
.contact-fields {
    padding-top: 2rem;
    & i {
		margin-right: 5px;
		color: cadetblue;
    }
    & p {
        line-height: 2;
    }
}
