.banner-4 {
	background-image: url(../../asset/image/toning.jpg);
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	width: 100%;
	height: 300%;
	background-repeat: no-repeat;
	opacity: 0.2;
}
.contact-fields {
    padding-top: 2rem;
    & i {
		margin-right: 5px;
		color: cadetblue;
    }
    & p {
        line-height: 2;
    }
}
