.banner
    h3 every journey becomes with a step. But you'll never finish if you don't start.
    .banner-3
section#contacts.contacts
    h2 Get in touch
    hr
    p If you want to train with me, you can find me at The Gym at White City or if you want to train in the privacy of your home you can reach out to me here and I will find the right solution for you:
    .contact-fields
        p #[i.icon-ptuser]Felipe Marcelo Da Costa
        p #[i.icon-ptphone]07712345679
        p #[i.icon-ptenvelop]marcelo@dacosta.comes
        p #[i.icon-ptlocation]London, UK