* {
	margin: 0;
	padding:0;
	box-sizing:border-box;
}

html {
	font:normal 16px sans-serif;
	color: #555;
}

h2 {
	margin-bottom: 3rem;
	text-transform: uppercase;
	font:bold 3rem "Quicksand",sans-serif;
	text-align: center;
	color:cadetblue;
}

h3 {
	font: normal 2rem "Quicksand",sans-serif;
	margin-bottom: 1rem;
	text-shadow: 1px 1px black;
}

h4 {
	color: cadetblue;
	font: normal 1.4rem "Quicksand",sans-serif;
	
	span {
		color: chocolate;
	}
}

hr {
	width:20%;
	height: 2px;
	background-color: red;
	border:0;
	margin-bottom: 3rem;
}

p {
	font-family: "PT Sans";
	color: chocolate;
	font-size: 1.1rem;
}

a {
	text-decoration: none;
	opacity:0.7;
	color:white;
	font-size: 1.2rem;
	// text-shadow: 1px 1px black;
	&:hover {
		opacity:1;
		color: #f58426;
	}
	&.btn {
		border-radius: 5px;
		background-color: white;
		margin-top: .5rem;
		padding:1rem 2rem;
		display: inline-block;
		text-transform: uppercase;
		opacity:1;
		color:black;
	}
}

section {
	display: flex;
	flex-direction:column;
	align-items: center;
	padding:8rem 5rem;
	&:not(.hero):nth:nth-child(even) {
		background-color: #f5f5f5;
	}
}

.sticky {
	position: fixed;
	background-color: #f5f5f5;
	padding:1rem;
	& a {
		color:cadetblue;
		&:hover {
			color: #f58426;
		}
	}
}

.banner {
	position:relative;
	width: 100%;
	height: 30vh;
	background-color: #333;
	overflow: hidden;
	padding-top: 2rem;
	color:white;
	text-transform: uppercase;
	letter-spacing: 2px;
	border-top: 5px solid cadetblue;
	& span {
		font-size: 2rem;
		font-weight: bold;
		color: red;
	}
    & h3,em {
        padding: 2rem;
    }
}

.banner-1,
.banner-2,
.banner-3,
.banner-4 {
	background-size: cover;
	background-position: center bottom;
	position: absolute;
	width: 100%;
	height: 300%;
	background-repeat: no-repeat;
    opacity: 0.4;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
}
