.banner
    h3 Take care of your body. It's the only place you have to live.
    em Jim Rohn
    .banner-2
section#services.services
    h2 Let's reach your goals together:
    hr
    p I can craft a working schedule around your needs, wheter you want to lose weight, get fit or build more muscles, I am your right choice!
    ul
        li
            img(src="asset/image/toning.jpg", alt="")
            .overlay-left
                p Do you want to tone up?
            .overlay-right
                p Say goodbye to the boring weights of the gym.
        li
            img(src="asset/image/build.jpg", alt="")
            .overlay-left
                p You want to build more muscles?
            .overlay-right
                p Build the body that you always dreamt about
        li
            img(src="asset/image/weight.jpg", alt="")
            .overlay-left
                p Do you want to lose weight?
            .overlay-right
                p Don't let another Monday go by.
            