footer
    a(href="#") Made with a lot of #[span.icon-ptheart] and #[span.icon-ptmug] in London,UK
    .social
        p Follow me:
        a(href="") #[span.icon-ptfacebook]
        a(href="") #[span.icon-ptinstagram]
        a(href="") #[span.icon-ptyoutube]
