footer {
	background-color: grey;
	padding: 5rem 2rem;
	display: flex;
    justify-content: space-between;
    & p {
        display: inline-block;
        color: white;
	    text-transform: uppercase;
    }
    & span:first-child {
        color:red;
    }
    & span:nth-child(2) {
        color: black;
    }
}

.social a {
	padding: .5rem;
}

