include _component/layout/head
include _component/hero/hero
include _component/about/about
include _component/services/services
include _component/packages/packages
include _component/contacts/contacts
include _component/footer/footer
script 
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"
script 
    $(window).scroll(function() {
      var scrollTop = $(this).scrollTop();
      console.log(scrollTop);
      $(".banner-1").css("top", -(scrollTop *0.4)+"px");
      if(scrollTop>1200){
        $(".banner-2").css("top",+450 -(scrollTop *0.4)+"px");
      } if (scrollTop>2252) {
          $(".banner-3").css("top",+500 -(scrollTop *0.2)+"px");
      }
    });

    var scrollLink = $(".scroll");

    scrollLink.click(function(e){
      e.preventDefault();
      $("body,html").animate({
        scrollTop: $(this.hash).offset().top
      },1000)
  });



