include _component/layout/head
include _component/hero/hero
include _component/about/about
include _component/services/services
include _component/packages/packages
include _component/contacts/contacts
include _component/footer/footer
script 
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"



