include _component/layout/head
include _component/hero/hero
include _component/about/about
include _component/services/services
include _component/packages/packages
include _component/contacts/contacts
include _component/footer/footer



